@font-face {
  font-family: "DancingScript";
  src: url("./DancingScript.ttf");
}

@font-face {
  font-family: "Dosis";
  src: url("./Dosis.ttf");
}

html {
  background: linear-gradient(180deg, #242b42 0%, #1a2552 60%, #030c25 100%);
  background-color: #262a38;
  background-attachment: fixed;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 32px;
}

.App {
  z-index: 1;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.googleLoginButton {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
