@font-face {
  font-family: "DancingScript";
  src: url("./DancingScript.ttf");
}

@font-face {
  font-family: "Dosis";
  src: url("./Dosis.ttf");
}

html {
  background: linear-gradient(180deg, #283868 0%, #102257 75%, #0e1f4e 100%);
  background-color: #283868;
  background-attachment: fixed;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 130px;
}

.App {
  z-index: 1;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.googleLoginButton {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
