html {
  height: max-content;
  min-height: 100vh;
  background: linear-gradient(180deg, #262a38b6 0%, #181e36 70%, #030c25 100%);
  background-color: #222326;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.googleLoginButton {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
